*{
    border: red 1px solid;
}

body {
    max-width: 450px;
    margin: 0px auto;
    text-align: center;
}

.intro.home img{
    width: 100%;
    height: auto;

}

.intro.home h1{
    background-color: aqua;
    font-family: 'Times New Roman''Brush Script MT''Lucida Sans';
    font-size: xx-large; 
}

.ingredients{
    background-color:rgb(255, 255, 201);
}

.ingredients h2{
    color: blue;
}


.recipes{
    list-style-type: none;
    padding: 0px;
    text-align: center;

}


.button{
    margin: 1.5em;
    padding: 1.5em;
    background-color: rgba(0, 255, 255, 0.295);
    
}